<li>
    <a href="/dashboard/participant/hackathons"><i class="fas fa-trophy"></i> My Hackathons</a>
</li>
<li>
    <a href="/dashboard/participant/teams"><i class="fas fa-users"></i> My Teams</a>
</li>
<li>
    <a href="/dashboard/participant/submissions"><i class="fas fa-code"></i> My Submissions</a>
</li>
<li>
    <a href="/dashboard/participant/profile"><i class="fas fa-user"></i> Profile</a>
</li> 