<li>
    <a href="/dashboard/judge/assignments"><i class="fas fa-tasks"></i> My Assignments</a>
</li>
<li>
    <a href="/dashboard/judge/reviews"><i class="fas fa-star"></i> Reviews</a>
</li>
<li>
    <a href="/dashboard/judge/profile"><i class="fas fa-user"></i> Profile</a>
</li> 