<li>
    <a href="/dashboard/organizer/manage-hackathons"><i class="fas fa-trophy"></i> My Hackathons</a>
</li>
<li>
    <a href="/dashboard/organizer/participants"><i class="fas fa-users"></i> Participants</a>
</li>
<li>
    <a href="/dashboard/organizer/submissions"><i class="fas fa-code"></i> Submissions</a>
</li>
<li>
    <a href="/dashboard/organizer/profile"><i class="fas fa-building"></i> Organization Profile</a>
</li> 